html {
    background-color:#282a36;
    color: white;
}

body {
    text-align: center;
}

a {
    color: orange;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid white;
    margin: auto;
}

th, td {
    padding: 10px;
    border: 1px solid white;
}
